<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React Twitter Stream</title>
    <link rel="stylesheet" type="text/css" href="/public/css/app.css">
  </head>

  <body>
    <section id="react-app">
      {{{markup}}}
    </div>

    <script id="initial-state" type="application/json">{{{state}}}</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="/public/js/app.js"></script>
  </body>
</html>
